@media only screen and (max-width : 1023px) { 
    
    h1 { font-size: 50px; }
    
    button {
        width: 70px;
        font-size: 30px;
        border-radius: 10px;
    }
    
    select {
        width: 80px;
        margin-top: 35px;
        font-size: 30px;
    }
    
    .image {
        max-width:650px;
        height: auto;
        padding-top: 3%;
        display: block;
    }
    
    h1:after {
        height: 3px;
        width: 300px;
    }
    
    #info { margin: 25px auto; }
    
    .modal-content {
        font-size: 40px;
        width: 80%;
    }
    
    .close { font-size: 40px; }
}
