* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mina', sans-serif;
}

.container {
    min-height: 100vh;
    width: auto;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('thomas-kelley-78865-unsplash-min.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('thomas-kelley-78865-unsplash-min.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color:#fff;
    font-size: 40px;
    padding-top: 15px;
    margin-bottom: 2px solid #e67e22;
    margin-top: 0;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 0;
}

/*--- buttons ---*/
button {
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    background-color: #e67e22;
    color: #3b3b3b;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid #e67e22;
    -webkit-transition: background-color 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 8px 5px 8px;
}

button:hover,
button:focus,
.selected {
    border: 1px solid #04a4fa;
    background-color: #04a4fa;
    color: #000;
    outline: 0;
    color: #fff;   
}

#info {
    margin: 10px auto;
}

/*--- chords images ---*/
.image {
    margin: 0 auto;
    max-width: 500px;
    height: auto;
    padding-top: 3%;
    display: block;
}

img {
    width: 100%;
    margin: 0 auto;
}

select {
    width: 70px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 10px;
    outline: 0;
    background-color: #ededed;
    -webkit-box-shadow: none;
}

/*--- info window ---*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
}

.modal-content {
    background-color: #e3e3e3;
    margin: 10% auto;
    padding: 10px;
    border: none;
    width: 60%;
    border-radius: 20px;
    font-size: 20px;
    color: #000000;
}

/*--- box close button ---*/
.close {
    color: #6c6c6c;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*--- sound icon ---*/
.fa-volume-up {
    color:#cbcbcb;
    font-size: 20px;
    cursor: pointer;
}


